<div class="container">
    <mat-card class="estudiantes-card">
        <mat-card-header>
            <mat-card-title>
                Estudiantes
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Codigo</th>
                        <th>Programa ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantes">
                        <td>{{ estudiante.id }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellidos }}</td>
                        <td>{{ estudiante.codigo }}</td>
                        <td>{{ estudiante.programaId }}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card class="estudiantes-card">
        <mat-card-header>
            <mat-card-title>
                Pagos
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <table mat-table matSort [dataSource]="estudiantesDataSource" class="mat-elevation-z1">

                <!-- ID Column -->
                 <!-- Contenedor logico que define la logica de cada columna de la tabla -->
                <ng-container matColumnDef="id">
                    <!-- Plantilla que define el contenido del encabezado con la opción de ordenación de la columna -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <!-- Plantilla que accede al dato de cada fila -->
                    <td mat-cell *matCellDef="let estudiante"> {{ estudiante.id }} </td>
                </ng-container>

                <!-- Fecha Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let estudiante"> {{estudiante.nombre }} </td>
                </ng-container>

                <!-- Cantidad Column -->
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                    <td mat-cell *matCellDef="let estudiante"> {{estudiante.apellidos }} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                    <td mat-cell *matCellDef="let estudiante"> {{estudiante.codigo}} </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="programaId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Programa ID </th>
                    <td mat-cell *matCellDef="let estudiante"> {{estudiante.programaId}} </td>
                </ng-container>

                <!-- Nombre Column -->
                <ng-container matColumnDef="pagos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagos </th>
                    <td mat-cell *matCellDef="let estudiante"> 
                        <button mat-raised-button color="primary" (click)="listarPagosDeEstudiante(estudiante.codigo)">Pagos</button>    
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>