<mat-toolbar color="primary">
    <button mat-button (click)="myDrawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: auto;"></span>
    <button mat-button routerLink="/admin/home">Home</button>
    <button mat-button routerLink="/admin/profile">Perfil</button>
    
    <button *ngIf="authService.roles.includes('ADMIN')" mat-button [matMenuTriggerFor] = "importMenu">
        <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
        Importar
    </button>

    <mat-menu #importMenu>
        <button mat-menu-item routerLink="/admin/load-estudiantes">Cargar Estudiantes</button>
        <button mat-menu-item routerLink="/admin/load-pagos">Cargar Pagos</button>
    </mat-menu>
    <button mat-button *ngIf="authService.isAuthenticated">
        {{ authService.username }}
    </button>
    <button mat-raised-button color="accent" (click) = "logout()">Salir</button>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #myDrawer opened="true" mode="side" position="start">
        <mat-list>
            <mat-list-item>
                <button mat-button routerLink="/admin/dashboard">
                    <mat-icon>dashboard</mat-icon>    
                    Dashboard
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/estudiantes">
                    <mat-icon>dashboard</mat-icon>   
                    Estudiantes
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button routerLink="/admin/pagos">
                    <mat-icon>dashboard</mat-icon>   
                    Pagos
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

